<h1>LabSeq - Exercise</h1>

<div class="container">
    
  <div class="firstDiv">
    <p>The <strong>labseq</strong> – l(n) - sequence is defined as follows:</p>
    <ul>
      <li>n=0 => l(0) = 0</li>
      <li>n=1 => l(1) = 1</li>
      <li>n=2 => l(2) = 0</li>
      <li>n=3 => l(3) = 1</li>
      <li>n>3 => l(n) = l(n-4) + l(n-3)</li>
    </ul>
  </div>

  <div class="secondDiv">
    <table>
      <tr>
        <td><strong>Index</strong></td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
      </tr>
      <tr>
        <td><strong>Value</strong></td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>3</td>
      </tr>
    </table>
  </div>
</div>

<p><strong>The index may be any non-negative integer number.</strong></p>

<label for="index">Insert Index: </label>
<input type="number" min="0" class="form-control" #index required>
<button type="button" (click)="getValueFromSequence(index.value)">Get Value</button>

<h2>Value from the sequence: {{ value | number }}</h2>

<p id="messageElement" [ngClass]="invalid ? 'invalid' : 'valid'">{{ message }}</p>